:root {
  --vp-c-neutral: #202020;
  --vp-c-neutral-inverse: #fcfcfc;
}

.dark {
  --vp-c-neutral: #eeeeee;
  --vp-c-neutral-inverse: #181818;
}

:root {
  --vp-c-bg: #f9f9f9;
  --vp-c-bg-alt: #fcfcfc;
  --vp-c-bg-elv: #f1f1f1;
  --vp-c-bg-soft: #f4f4f4;
}

.dark {
  --vp-c-bg: #1b1b1b;
  --vp-c-bg-alt: #1e1e1e;
  --vp-c-bg-elv: #282828;
  --vp-c-bg-soft: #2b2b2b;
}

:root {
  --vp-c-gray-1: #bbbbcb;
  --vp-c-gray-2: #d4d4e4;
  --vp-c-gray-3: #dddded;
  --vp-c-gray-soft: #dddddd17;
}

.dark {
  --vp-c-gray-1: #606070;
  --vp-c-gray-2: #4a4a5a;
  --vp-c-gray-3: #3f3f4f;
  --vp-c-gray-soft: #3f3f3f17;
}
